.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

.idea/
.vscode/

*.iml
*.log

android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/
macos/.symlinks/
macos/Flutter/Flutter-Generated.xcconfig
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
